*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size:16px;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    line-height: 1.6;
}
h1{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding:1rem 3rem;
}
p{
    padding:1rem 3rem;
}
#boxes{
    padding:1rem 3rem;
}
.box{
    padding: 1rem;
    border: 0.5rem solid #d4d4d4;
    background-color: #e9e9e9;
    margin: 0 1rem 1rem;
    width: 120px;
    height: 120px;
    float:left;
}
.failed{
    border: 0.5rem solid #bb4323;
}
.highlight{
    border: 0.5rem solid #333;
    background-color: cornsilk;
}